<% layout("/layouts/boilerplate") %>
<form
  action="/listings/<%=listing.id%>?_methode=PUT"
  method="post"
  class="needs-validation"
  novalidate
>
  <h3>Edit your listing:</h3>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <textarea name="title" id="" class="form-control" required>
<%=listing.title%></textarea
        >
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="" class="form-control" required>
<%=listing.description%></textarea
        >
        <div class="invalid-feedback">Please enter a short description!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image Link</label>
        <textarea name="image" id="" class="form-control" required>
<%=listing.image%></textarea
        >
        <div class="invalid-feedback">Please enter a valid link!</div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <textarea name="price" id="" class="form-control" required>
      <%=listing.price%></textarea
            >
            <div class="invalid-feedback">Price should be valid!</div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <textarea name="country" id="" class="form-control" required>
      <%=listing.country%></textarea
            >
            <div class="invalid-feedback">Country should be valid!</div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <textarea name="location" id="" class="form-control" required>
<%=listing.location%></textarea
        >
        <div class="invalid-feedback">Location should be valid!</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Save</button>
    </div>
  </div>
</form>
